<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="CG_FILES">
            <Component Id="cmp9436D428F68BCAA7C98495845432360F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil35AD12A46892CF912A1D2672D3503993" KeyPath="yes" Source="$(var.SourceDir)\AsyncIO.dll" />
            </Component>
            <Component Id="cmpE013D86F9855DD1EAAA076736743DAF1" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil643F3768067FAF440D7B9CA69804B9F7" KeyPath="yes" Source="$(var.SourceDir)\bytePassion.Lib.dll" />
            </Component>
            <Component Id="cmp126EF60C3BB3DF7BB4ACFA20E4D97DD3" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil8211CB290A97F1185F481651F10020A1" KeyPath="yes" Source="$(var.SourceDir)\bytePassion.OnkoTePla.Client.DataAndService.dll" />
            </Component>
            <Component Id="cmpE7ABC0E77468F993CA15794EF8C503BE" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil7E9CF89022041753C065B6488C672C73" KeyPath="yes" Source="$(var.SourceDir)\bytePassion.OnkoTePla.Client.WpfUi.exe" />
            </Component>
            <Component Id="cmp3DEF160486337B2EEB0675DDF2B450C9" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil3AD8C3B203543A8268417BDC16C493C9" KeyPath="yes" Source="$(var.SourceDir)\bytePassion.OnkoTePla.Communication.dll" />
            </Component>
            <Component Id="cmpAF878922B7D73BE8942589A5C8BB625F" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil6DC2EFC0B71F08DBD402FB0F0D6A9C79" KeyPath="yes" Source="$(var.SourceDir)\bytePassion.OnkoTePla.Contracts.dll" />
            </Component>
            <Component Id="cmp65B972E91CC160A9CC369CD4C95A4928" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil7479704ED0DB231511211940A7846F13" KeyPath="yes" Source="$(var.SourceDir)\bytePassion.OnkoTePla.Resources.dll" />
            </Component>
            <Component Id="cmp223D4754378C01052DA8253A843FD297" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filBC562C5B3D9848A2114F0AF7275FF1E6" KeyPath="yes" Source="$(var.SourceDir)\MahApps.Metro.dll" />
            </Component>
            <Component Id="cmp5036D832250D9BAFC093CEFD541521FA" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil93DAAF87FC121F5B43D9A12E49A582DF" KeyPath="yes" Source="$(var.SourceDir)\MahApps.Metro.SimpleChildWindow.dll" />
            </Component>
            <Component Id="cmp2283E0FDC7B940B7C9BB0C6B1FB2C1FE" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil79B5B8880C5A289B609366923990D188" KeyPath="yes" Source="$(var.SourceDir)\Microsoft.Expression.Drawing.dll" />
            </Component>
            <Component Id="cmpA9AA3139F57BC1BC5386EB4E92940D67" Directory="INSTALLFOLDER" Guid="*">
                <File Id="filCDF22BEB5B3D4CD7D90AD0131B926D3C" KeyPath="yes" Source="$(var.SourceDir)\NetMQ.dll" />
            </Component>
            <Component Id="cmp017BFB3832A5B110A2B3A350E13F2A5C" Directory="INSTALLFOLDER" Guid="*">
                <File Id="fil17E34524E8398461D615894C92558FE9" KeyPath="yes" Source="$(var.SourceDir)\System.Windows.Interactivity.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>