<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SetupProject1" Language="1033" Version="1.0.0.0" Manufacturer="BytePassion" UpgradeCode="3f0cd669-6041-4b45-98ee-b8ccd1e20314">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />
        <UIRef Id="WixUI_InstallDir"/>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="CG_FILES" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--<Directory Id="ProgramMenuFolder">
                <Directory Id="FirmenName_Menu" Name="bytepassion.de">
				    <Directory Id="D_ONKOTEPLA" Name="OnkoTePla" />
                </Directory>
            </Directory>-->
			<Directory Id="ProgramFilesFolder">
                <Directory Id="FirmenName" Name="bytepassion.de">
				    <Directory Id="INSTALLFOLDER" Name="OnkoTePla" />
                </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
	</Fragment>
</Wix>