<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.17.0" targetFramework="net461" />
  <package id="Jil" version="2.10.0" targetFramework="net45" userInstalled="true" />
  <package id="NetMQ" version="3.3.2.2" targetFramework="net461" />
  <package id="Sigil" version="4.4.0" targetFramework="net45" userInstalled="true" />
</packages>